:root {
    --primary-color: #fff; /* Voorbeeldkleur uit de huisstijl */
    --secondary-color: #fff; /* Neutrale achtergrondkleur */
    --accent-color: #ffcc00; /* Accentkleur  */ 

    /* #1191FA; Voorbeeldkleur uit de huisstijl */
    /* #C2E4FF; Neutrale achtergrondkleur */
    /* #ffcc00; Accentkleur  */ 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
}


